.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  margin: 10px;
  width: 200px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: center;
}

span {
  color: red;
}

button {
  margin: 10px;
}
